nav {
    margin: auto;
    border-bottom: 1px gray solid;
}

.navwrapper {
    font-family: 'IBM Plex Serif', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 60rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding: 0 1rem;
}

nav li:hover {
    text-decoration: underline;
}

main {
    font-family: 'Lato', sans-serif;
    max-width: 60rem;
    margin: auto;
}

.banner {
    margin: 8rem 0rem;
}

.projectswrapper {
    display: flex;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.webproject {
    border: 1px black solid;
    min-width: 12rem;
    min-height: 12rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webproject:hover {
    font-size: larger;
    font-weight: bold;
    text-decoration: underline;
}

.about {
    margin-top: 3rem;
}

.skills {
    margin-top: 3rem;
}

.skillswrapper {
    display: flex;
    justify-content: space-around;
}

.contact {
    margin-top: 3rem;
}
