nav {
    margin: auto;
    border-bottom: 1px gray solid;
}

.navwrapper {
    font-family: 'IBM Plex Serif', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 60rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding: 0 1rem;
}

nav li:hover {
    text-decoration: underline;
}

main {
    font-family: 'Lato', sans-serif;
    max-width: 60rem;
    margin: auto;
}

.banner {
    margin: 8rem 0rem;
}

.projectswrapper {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.webproject {
    border: 1px black solid;
    padding: 5rem;
}
